<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<mvc:resources  mapping="/assets/**" location="/assets/" /> 
	<context:component-scan base-package="com.yunwoo.cybershop" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>
	<context:annotation-config/>
	<!-- 开启切面代理 -->
	<aop:aspectj-autoproxy/>
	<!-- 启用类代理方式 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<bean id="viewResolver" class="httl.web.springmvc.HttlViewResolver">
		<property name="contentType" value="text/html; charset=UTF-8" />
	</bean>
	<mvc:annotation-driven/>
	<mvc:default-servlet-handler/>

	<!-- 支持上传文件 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
</beans>